<a href="https://colab.research.google.com/github/derek-shing/Amazon-RDS-and-Lamda-function/blob/master/financial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
pip install yfinance --upgrade --no-cache-dir

Requirement already up-to-date: yfinance in /usr/local/lib/python3.6/dist-packages (0.1.43)
Requirement already satisfied, skipping upgrade: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied, skipping upgrade: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.21.0)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.16.4)
Requirement already satisfied, skipping upgrade: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.24.2)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2019.3.9)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied, skipping upgrade: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.5.3)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas>=0.24->yfinance) (1.12.0)

In [61]:
import yfinance as yf

msft = yf.Ticker("MSFT")

# get stock info
msft.info

# get historical market data
hist = msft.history(period="max")

# show actions (dividends, splits)
msft.actions

# show dividends
msft.dividends

# show splits
msft.splits

# show financials
msft.financials

# show balance heet
msft.balance_sheet

# show cashflow
msft.cashflow

# show options expirations
msft.options

# get option chain for specific expiration
#opt = msft.option_chain('YYYY-MM-DD')
# data available via: opt.calls, opt.puts

('2019-06-28',
 '2019-07-05',
 '2019-07-12',
 '2019-07-19',
 '2019-07-26',
 '2019-08-02',
 '2019-08-16',
 '2019-09-20',
 '2019-10-18',
 '2019-12-20',
 '2020-01-17',
 '2020-06-19',
 '2020-09-18',
 '2021-01-15',
 '2021-03-19',
 '2021-06-18')

In [57]:
msft.info

{'ask': 0.0,
 'askSize': 8,
 'averageDailyVolume10Day': 26839414,
 'averageDailyVolume3Month': 23608762,
 'bid': 0.0,
 'bidSize': 40,
 'bookValue': 12.375,
 'currency': 'USD',
 'dividendDate': 1568246400,
 'earningsTimestamp': 1556136000,
 'earningsTimestampEnd': 1563796800,
 'earningsTimestampStart': 1563361140,
 'epsForward': 5.11,
 'epsTrailingTwelveMonths': 4.501,
 'esgPopulated': False,
 'exchange': 'NMS',
 'exchangeDataDelayedBy': 0,
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'fiftyDayAverage': 128.752,
 'fiftyDayAverageChange': 4.677994,
 'fiftyDayAverageChangePercent': 0.036333367,
 'fiftyTwoWeekHigh': 138.4,
 'fiftyTwoWeekHighChange': -4.970001,
 'fiftyTwoWeekHighChangePercent': -0.035910416,
 'fiftyTwoWeekLow': 93.96,
 'fiftyTwoWeekLowChange': 39.469994,
 'fiftyTwoWeekLowChangePercent': 0.42007232,
 'fiftyTwoWeekRange': '93.96 - 138.4',
 'financialCurrency': 'USD',
 'forwardPE': 26.111544,
 'fullExchangeName': 'NasdaqGS',
 'gmtOffSetMilliseconds': -14400000,
 'language': 'en-US',
 'longName': 'Microsoft Corporation',
 'market': 'us_market',
 'marketCap': 1022450008064,
 'marketState': 'PREPRE',
 'messageBoardId': 'finmb_21835',
 'postMarketChange': 0.020004272,
 'postMarketChangePercent': 0.014992336,
 'postMarketPrice': 133.45,
 'postMarketTime': 1561507191,
 'priceHint': 2,
 'priceToBook': 10.782222,
 'quoteSourceName': 'Delayed Quote',
 'quoteType': 'EQUITY',
 'region': 'US',
 'regularMarketChange': -4.350006,
 'regularMarketChangePercent': -3.1572115,
 'regularMarketDayHigh': 137.58,
 'regularMarketDayLow': 132.73,
 'regularMarketDayRange': '132.73 - 137.58',
 'regularMarketOpen': 137.25,
 'regularMarketPreviousClose': 137.78,
 'regularMarketPrice': 133.43,
 'regularMarketTime': 1561492801,
 'regularMarketVolume': 29599336,
 'sharesOutstanding': 7662819840,
 'shortName': 'Microsoft Corporation',
 'sourceInterval': 15,
 'symbol': 'MSFT',
 'tradeable': True,
 'trailingAnnualDividendRate': 1.8,
 'trailingAnnualDividendYield': 0.013064305,
 'trailingPE': 29.644522,
 'twoHundredDayAverage': 116.178604,
 'twoHundredDayAverageChange': 17.251389,
 'twoHundredDayAverageChangePercent': 0.14849024}

In [22]:
msft.financials

                                        6/30/2018 6/30/2017 6/30/2016 6/30/2015

Total Revenue                           110360000  96571000  91154000  93580000
Cost of Revenue                          38353000  33850000  32780000  33038000
Gross Profit                             72007000  62721000  58374000  60542000
Operating Expenses                              -         -         -         -
Research Development                     14726000  12292000  11988000  12046000
Selling General and Administrative       22223000  18807000  19198000  20324000
Non Recurring                                 NaN       NaN       NaN       NaN
Others                                        NaN       NaN       NaN       NaN
Total Operating Expenses                 75302000  64949000  63966000  65408000
Operating Income or Loss                 35058000  31622000  27188000  28172000
Income from Continuing Operations               -         -         -         -
Total Other Income/Expenses Net           1416000  -1721000  -1549000  -9665000
Earnings Before Interest and Taxes       35058000  31622000  27188000  28172000
Interest Expense                         -2733000  -2222000  -1243000   -781000
Income Before Tax                        36474000  29901000  25639000  18507000
Income Tax Expense                       19903000   4412000   5100000   6314000
Minority Interest                             NaN       NaN       NaN       NaN
Net Income From Continuing Ops           16571000  25489000  20539000  12193000
Non-recurring Events                            -         -         -         -
Discontinued Operations                       NaN       NaN       NaN       NaN
Extraordinary Items                           NaN       NaN       NaN       NaN
Effect Of Accounting Changes                  NaN       NaN       NaN       NaN
Other Items                                   NaN       NaN       NaN       NaN
Net Income                                      -         -         -         -
Net Income                                      -         -         -         -
Preferred Stock And Other Adjustments         NaN       NaN       NaN       NaN
Net Income Applicable To Common Shares   16571000  25489000  20539000  12193000

In [23]:
msft.balance_sheet

                                      6/30/2018  ...  6/30/2015
                                                 ...
Current Assets                                -  ...          -
Cash And Cash Equivalents              11946000  ...    5595000
Short Term Investments                121723000  ...   90796000
Net Receivables                        26481000  ...   17908000
Inventory                               2662000  ...    2902000
Other Current Assets                    6850000  ...    5596000
Total Current Assets                  169662000  ...  122797000
Long Term Investments                   1862000  ...   12053000
Property Plant and Equipment           36146000  ...   14731000
Goodwill                               35683000  ...   16939000
Intangible Assets                       8053000  ...    4835000
Accumulated Amortization                    NaN  ...        NaN
Other Assets                            7442000  ...    3117000
Deferred Long Term Asset Charges        1369000  ...     228000
Total Assets                          258848000  ...  174472000
Current Liabilities                           -  ...          -
Accounts Payable                        8617000  ...    6591000
Short/Current Long Term Debt            5397000  ...    2499000
Other Current Liabilities              38195000  ...   30384000
Total Current Liabilities              58488000  ...   49647000
Long Term Debt                         77810000  ...   27808000
Other Liabilities                      35707000  ...   16934000
Deferred Long Term Liability Charges        NaN  ...        NaN
Minority Interest                           NaN  ...        NaN
Negative Goodwill                           NaN  ...        NaN
Total Liabilities                     176130000  ...   94389000
Stockholders' Equity                          -  ...          -
Misc. Stocks Options Warrants               NaN  ...        NaN
Redeemable Preferred Stock                  NaN  ...        NaN
Preferred Stock                             NaN  ...        NaN
Common Stock                           71223000  ...   68465000
Retained Earnings                      13682000  ...    9096000
Treasury Stock                         -2187000  ...    2522000
Capital Surplus                             NaN  ...        NaN
Other Stockholder Equity               -2187000  ...    2522000
Total Stockholder Equity               82718000  ...   80083000
Net Tangible Assets                    38982000  ...   58309000

[37 rows x 4 columns]

In [24]:
msft.cashflow

                                                    6/30/2018  ...  6/30/2015
                                                               ...
Net Income                                           16571000  ...   12193000
Operating Activities, Cash Flows Provided By or...          -  ...          -
Depreciation                                          9900000  ...    5400000
Adjustments To Net Income                            -3108000  ...   10483000
Changes In Accounts Receivables                      -3862000  ...    1456000
Changes In Liabilities                                7070000  ...   -1054000
Changes In Inventories                                -465000  ...    -272000
Changes In Other Operating Activities                 -459000  ...    1383000
Total Cash Flow From Operating Activities            43884000  ...   29668000
Investing Activities, Cash Flows Provided By or...          -  ...          -
Capital Expenditures                                -11632000  ...   -5944000
Investments                                           6557000  ...  -12868000
Other Cash flows from Investing Activities             -98000  ...    -466000
Total Cash Flows From Investing Activities           -6061000  ...  -23001000
Financing Activities, Cash Flows Provided By or...          -  ...          -
Dividends Paid                                      -12699000  ...   -9882000
Sale Purchase of Stock                                    NaN  ...        NaN
Net Borrowings                                      -10201000  ...   13661000
Other Cash Flows from Financing Activities            -971000  ...     362000
Total Cash Flows From Financing Activities          -33590000  ...   -9668000
Effect Of Exchange Rate Changes                         50000  ...     -73000
Change In Cash and Cash Equivalents                   4283000  ...   -3074000

[22 rows x 4 columns]

In [0]:
import pandas as pd

In [0]:
df = pd.concat([msft.financials,msft.balance_sheet,msft.cashflow])

In [0]:
df = df.T

In [29]:
df.columns

Index(['Total Revenue', 'Cost of Revenue', 'Gross Profit',
       'Operating Expenses', 'Research Development',
       'Selling General and Administrative', 'Non Recurring', 'Others',
       'Total Operating Expenses', 'Operating Income or Loss',
       'Income from Continuing Operations', 'Total Other Income/Expenses Net',
       'Earnings Before Interest and Taxes', 'Interest Expense',
       'Income Before Tax', 'Income Tax Expense', 'Minority Interest',
       'Net Income From Continuing Ops', 'Non-recurring Events',
       'Discontinued Operations', 'Extraordinary Items',
       'Effect Of Accounting Changes', 'Other Items', 'Net Income',
       'Net Income', 'Preferred Stock And Other Adjustments',
       'Net Income Applicable To Common Shares', 'Current Assets',
       'Cash And Cash Equivalents', 'Short Term Investments',
       'Net Receivables', 'Inventory', 'Other Current Assets',
       'Total Current Assets', 'Long Term Investments',
       'Property Plant and Equipment', 'Goodwill', 'Intangible Assets',
       'Accumulated Amortization', 'Other Assets',
       'Deferred Long Term Asset Charges', 'Total Assets',
       'Current Liabilities', 'Accounts Payable',
       'Short/Current Long Term Debt', 'Other Current Liabilities',
       'Total Current Liabilities', 'Long Term Debt', 'Other Liabilities',
       'Deferred Long Term Liability Charges', 'Minority Interest',
       'Negative Goodwill', 'Total Liabilities', 'Stockholders' Equity',
       'Misc. Stocks Options Warrants', 'Redeemable Preferred Stock',
       'Preferred Stock', 'Common Stock', 'Retained Earnings',
       'Treasury Stock', 'Capital Surplus', 'Other Stockholder Equity',
       'Total Stockholder Equity', 'Net Tangible Assets', 'Net Income',
       'Operating Activities, Cash Flows Provided By or Used In',
       'Depreciation', 'Adjustments To Net Income',
       'Changes In Accounts Receivables', 'Changes In Liabilities',
       'Changes In Inventories', 'Changes In Other Operating Activities',
       'Total Cash Flow From Operating Activities',
       'Investing Activities, Cash Flows Provided By or Used In',
       'Capital Expenditures', 'Investments',
       'Other Cash flows from Investing Activities',
       'Total Cash Flows From Investing Activities',
       'Financing Activities, Cash Flows Provided By or Used In',
       'Dividends Paid', 'Sale Purchase of Stock', 'Net Borrowings',
       'Other Cash Flows from Financing Activities',
       'Total Cash Flows From Financing Activities',
       'Effect Of Exchange Rate Changes',
       'Change In Cash and Cash Equivalents'],
      dtype='object', name='')

In [0]:
df = df.fillna(0)
df = df.replace('-',0)
df = df.astype(float)

In [0]:
df = df.replace('-',0)

In [0]:
df = df.astype(float)

In [0]:
df.info()

In [0]:
df['Current ratio']= df['Total Current Assets'] / df['Total Current Liabilities']

In [44]:
df['Current Assets']

6/30/2018    0.0
6/30/2017    0.0
6/30/2016    0.0
6/30/2015    0.0
Name: Current Assets, dtype: float64

In [45]:
df['Current ratio']

6/30/2018    2.900800
6/30/2017    2.918576
6/30/2016    2.352882
6/30/2015    2.473402
Name: Current ratio, dtype: float64

In [0]:
Acid-test ratio = Current assets – Inventories / Current liabilities

In [0]:
df['Cash ratio'] = df['Cash And Cash Equivalents'] / df['Total Current Liabilities']

In [47]:
df['Cash ratio']

6/30/2018    0.204247
6/30/2017    0.137465
6/30/2016    0.109675
6/30/2015    0.112696
Name: Cash ratio, dtype: float64

In [0]:
Operating cash flow ratio = Operating cash flow / Current liabilities

In [0]:
Debt ratio = Total liabilities / Total assets

In [0]:
df['Debt ratio'] = df['Total Liabilities']/df['Total Assets']

In [49]:
df['Debt ratio']

6/30/2018    0.680438
6/30/2017    0.649593
6/30/2016    0.627861
6/30/2015    0.540998
Name: Debt ratio, dtype: float64

In [0]:
Debt to equity ratio = Total liabilities / Shareholder’s equity

In [0]:
Interest coverage ratio = Operating income / Interest expenses

In [0]:
Debt service coverage ratio = Operating income / Total debt service

In [0]:
Asset turnover ratio = Net sales / Total assets

In [0]:
Inventory turnover ratio = Cost of goods sold / Average inventory

In [0]:
Receivables turnover ratio = Net credit sales / Average accounts receivable

Days sales in inventory ratio = 365 days / Inventory turnover ratio

In [0]:
Gross margin ratio = Gross profit / Net sales

In [0]:
Operating margin ratio = Operating income / Net sales

In [0]:
df['Operating margin ratio'] = df['Net Income From Continuing Ops'] / df['Total Revenue']

In [51]:
df['Operating margin ratio']

6/30/2018    0.150154
6/30/2017    0.263941
6/30/2016    0.225322
6/30/2015    0.130295
Name: Operating margin ratio, dtype: float64

In [52]:
#Return on assets ratio = Net income / Total assets
df['Return on assets ratio'] = df['Net Income Applicable To Common Shares'] / df['Total Assets']
df['Return on assets ratio']

6/30/2018    0.064018
6/30/2017    0.101829
6/30/2016    0.106162
6/30/2015    0.069885
Name: Return on assets ratio, dtype: float64

In [54]:
#Return on equity ratio = Net income / Shareholder’s equity
df['Return on equity ratio'] = df['Net Income Applicable To Common Shares'] / df['Total Stockholder Equity']
df['Return on equity ratio']

6/30/2018    0.200331
6/30/2017    0.290602
6/30/2016    0.285276
6/30/2015    0.152255
Name: Return on equity ratio, dtype: float64

In [0]:
Book value per share ratio = Shareholder’s equity / Total shares outstanding

In [0]:
Dividend yield ratio = Dividend per share / Share price

In [0]:
Earnings per share ratio = Net earnings / Total shares outstanding

In [0]:
df['Earnings per share ratio'] = df['Net Income Applicable To Common Shares'] / df['Common Stock']

In [56]:
df['Earnings per share ratio']

6/30/2018    0.232664
6/30/2017    0.367727
6/30/2016    0.301256
6/30/2015    0.178091
Name: Earnings per share ratio, dtype: float64

In [0]:
Price-earnings ratio = Share price / Earnings per share

In [0]:
def Cal_ratio(ticker):
  stock = yf.Ticker(ticker)
  status=True
  try:
    df = pd.concat([stock.financials,stock.balance_sheet,stock.cashflow])
    df = df.T
    df = df.fillna(0)
    df = df.replace('-',0)
    df = df.astype(float)
    df['Current ratio']= df['Total Current Assets'] / df['Total Current Liabilities']
    df['Cash ratio'] = df['Cash And Cash Equivalents'] / df['Total Current Liabilities']
    df['Debt ratio'] = df['Total Liabilities']/df['Total Assets']
    df['Operating margin ratio'] = df['Net Income From Continuing Ops'] / df['Total Revenue']
    df['Return on assets ratio'] = df['Net Income Applicable To Common Shares'] / df['Total Assets']
    df['Return on equity ratio'] = df['Net Income Applicable To Common Shares'] / df['Total Stockholder Equity']
    df['Earnings per share ratio'] = df['Net Income Applicable To Common Shares'] / df['Common Stock']
    df['Ticker']=ticker
    ratio_columns = ['Ticker','Current ratio','Cash ratio','Debt ratio','Operating margin ratio',
                    'Return on assets ratio','Return on equity ratio','Earnings per share ratio']
  except:
    status=False
    pass
  if status:
    return df[ratio_columns]
  else:
    return status

In [69]:
Cal_ratio('TSLA')

           Ticker  ...  Earnings per share ratio
12/31/2018   TSLA  ...              -5642.144509
12/31/2017   TSLA  ...             -11605.917160
12/31/2016   TSLA  ...              -4192.012422
12/31/2015   TSLA  ...              -6783.687023

[4 rows x 8 columns]

In [70]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
NASDAQ = pd.read_csv('/content/drive/My Drive/companylist.csv')

In [0]:
test = NASDAQ.Symbol
test

In [0]:
ratio = Cal_ratio(test.iloc[0])

In [116]:
ratio

           Ticker  ...  Earnings per share ratio
12/31/2018  DGICA  ...               -104.104854
12/31/2017  DGICA  ...                 22.798002
12/31/2016  DGICA  ...                102.218650
12/31/2015  DGICA  ...                 72.004504

[4 rows x 8 columns]

In [0]:
i=1

In [0]:
for stock in test:
  print(i, 'of', len(NASDAQ))
  response = Cal_ratio(stock)
  if response is not False:
    ratio = ratio.append(response)
  i+=1
  #Cal_ratio(stock)

10 of 3482
11 of 3482
12 of 3482
13 of 3482
14 of 3482
15 of 3482
16 of 3482
17 of 3482
18 of 3482
19 of 3482
20 of 3482
21 of 3482
22 of 3482
23 of 3482
24 of 3482
25 of 3482
26 of 3482
27 of 3482
28 of 3482
29 of 3482
30 of 3482
31 of 3482
32 of 3482
33 of 3482
34 of 3482
35 of 3482
36 of 3482
37 of 3482
38 of 3482
39 of 3482
40 of 3482
41 of 3482
42 of 3482
43 of 3482
44 of 3482
45 of 3482
46 of 3482
47 of 3482
48 of 3482
49 of 3482
50 of 3482
51 of 3482
52 of 3482
53 of 3482
54 of 3482
55 of 3482
56 of 3482
57 of 3482
58 of 3482
59 of 3482
60 of 3482
61 of 3482
62 of 3482
63 of 3482
64 of 3482
65 of 3482
66 of 3482
67 of 3482
68 of 3482
69 of 3482
70 of 3482
71 of 3482
72 of 3482
73 of 3482
74 of 3482
75 of 3482
76 of 3482
77 of 3482
78 of 3482
79 of 3482
80 of 3482
81 of 3482
82 of 3482
83 of 3482
84 of 3482
85 of 3482
86 of 3482
87 of 3482
88 of 3482
89 of 3482
90 of 3482
91 of 3482
92 of 3482
93 of 3482
94 of 3482
95 of 3482
96 of 3482
97 of 3482
98 of 3482
99 of 3482
100 of 3482
101 of 3482
102 of 3482
103 of 3482
104 of 3482
105 of 3482
106 of 3482
107 of 3482
108 of 3482
109 of 3482
110 of 3482
111 of 3482
112 of 3482
113 of 3482
114 of 3482
115 of 3482
116 of 3482
117 of 3482
118 of 3482
119 of 3482
120 of 3482
121 of 3482
122 of 3482
123 of 3482
124 of 3482
125 of 3482
126 of 3482
127 of 3482
128 of 3482
129 of 3482
130 of 3482
131 of 3482
132 of 3482
133 of 3482
134 of 3482
135 of 3482
136 of 3482
137 of 3482
138 of 3482
139 of 3482
140 of 3482
141 of 3482
142 of 3482
143 of 3482
144 of 3482
145 of 3482
146 of 3482
147 of 3482
148 of 3482
149 of 3482
150 of 3482
151 of 3482
152 of 3482
153 of 3482
154 of 3482
155 of 3482
156 of 3482
157 of 3482
158 of 3482
159 of 3482
160 of 3482
161 of 3482
162 of 3482
163 of 3482
164 of 3482
165 of 3482
166 of 3482
167 of 3482
168 of 3482
169 of 3482
170 of 3482
171 of 3482
172 of 3482
173 of 3482
174 of 3482
175 of 3482
176 of 3482
177 of 3482
178 of 3482
179 of 3482
180 of 3482
181 of 3482
182 of 3482
183 of 3482
184 of 3482
185 of 3482
186 of 3482
187 of 3482
188 of 3482
189 of 3482
190 of 3482
191 of 3482
192 of 3482
193 of 3482
194 of 3482
195 of 3482
196 of 3482
197 of 3482
198 of 3482
199 of 3482
200 of 3482
201 of 3482
202 of 3482
203 of 3482
204 of 3482
205 of 3482
206 of 3482
207 of 3482
208 of 3482
209 of 3482
210 of 3482
211 of 3482
212 of 3482
213 of 3482
214 of 3482
215 of 3482
216 of 3482
217 of 3482
218 of 3482
219 of 3482
220 of 3482
221 of 3482
222 of 3482
223 of 3482
224 of 3482
225 of 3482
226 of 3482
227 of 3482
228 of 3482
229 of 3482
230 of 3482
231 of 3482
232 of 3482
233 of 3482
234 of 3482
235 of 3482
236 of 3482
237 of 3482
238 of 3482
239 of 3482
240 of 3482
241 of 3482
242 of 3482
243 of 3482
244 of 3482
245 of 3482
246 of 3482
247 of 3482
248 of 3482
249 of 3482
250 of 3482
251 of 3482
252 of 3482
253 of 3482
254 of 3482
255 of 3482
256 of 3482
257 of 3482
258 of 3482
259 of 3482
260 of 3482
261 of 3482
262 of 3482
263 of 3482
264 of 3482
265 of 3482
266 of 3482
267 of 3482
268 of 3482
269 of 3482
270 of 3482
271 of 3482
272 of 3482
273 of 3482
274 of 3482
275 of 3482
276 of 3482
277 of 3482
278 of 3482
279 of 3482
280 of 3482
281 of 3482
282 of 3482
283 of 3482
284 of 3482
285 of 3482
286 of 3482

In [114]:
ratio

           Ticker  ...  Earnings per share ratio
12/31/2018  DGICA  ...             -1.041049e+02
12/31/2017  DGICA  ...              2.279800e+01
12/31/2016  DGICA  ...              1.022187e+02
12/31/2015  DGICA  ...              7.200450e+01
12/31/2018   FULT  ...              3.759048e-01
12/31/2017   FULT  ...              3.110160e-01
12/31/2016   FULT  ...              2.940203e-01
12/31/2015   FULT  ...              2.732422e-01
12/31/2018   MRUS  ...             -1.154567e+01
12/31/2017   MRUS  ...             -3.703488e+01
12/31/2016   MRUS  ...             -3.276036e+01
12/31/2015   MRUS  ...             -7.752000e+02
12/31/2018   GGAL  ...                      -inf
12/31/2017   GGAL  ...                       inf
12/31/2016   GGAL  ...                       inf
12/31/2015   GGAL  ...                       inf
6/30/2018    PCTY  ...              7.282642e+02
6/30/2017    PCTY  ...              1.291923e+02
6/30/2016    PCTY  ...             -7.550980e+01
6/30/2015    PCTY  ...             -2.739608e+02
12/31/2018   ICUI  ...              1.405222e+01
12/31/2017   ICUI  ...              3.396536e+01
12/31/2016   ICUI  ...              3.863074e+01
12/31/2015   ICUI  ...              2.797575e+01
12/31/2018   ACMR  ...                       inf
12/31/2017   ACMR  ...                      -inf
12/31/2016   ACMR  ...                       inf
12/31/2015   ACMR  ...                       inf
12/31/2018  DGICA  ...             -1.041049e+02
12/31/2017  DGICA  ...              2.279800e+01
...           ...  ...                       ...
12/31/2017   VECO  ...             -1.066307e+02
12/31/2016   VECO  ...             -2.998206e+02
12/31/2015   VECO  ...             -7.799512e+01
12/31/2018   HBNC  ...                       inf
12/31/2017   HBNC  ...                       inf
12/31/2016   HBNC  ...                       inf
12/31/2015   HBNC  ...                       inf
12/31/2018   TENB  ...             -7.943609e+01
12/31/2017   TENB  ...             -1.698577e+02
12/31/2016   TENB  ...             -1.791085e+02
12/31/2018   MGEN  ...             -1.061786e+02
12/31/2017   MGEN  ...             -1.173319e+02
12/31/2016   MGEN  ...             -2.165375e+03
12/31/2015   MGEN  ...             -1.572000e+04
3/31/2019    CPST  ...             -2.313750e+02
3/31/2018    CPST  ...             -1.758947e+02
3/31/2017    CPST  ...             -6.472821e+02
3/31/2016    CPST  ...             -1.049625e+03
9/30/2018    DLHC  ...                       inf
9/30/2017    DLHC  ...                       inf
9/30/2016    DLHC  ...                       inf
9/30/2015    DLHC  ...                       inf
12/31/2018   LMST  ...              6.150499e-02
12/31/2017   LMST  ...              2.981492e-01
12/31/2016   LMST  ...             -2.119638e-02
12/31/2015   LMST  ...             -2.383615e-02
8/31/2018     WBA  ...                       inf
8/31/2017     WBA  ...                       inf
8/31/2016     WBA  ...                       inf
8/31/2015     WBA  ...                       inf

[364 rows x 8 columns]

In [95]:
#Cal_ratio('ACTT')
ticker = 'ACTT'
stock = yf.Ticker(ticker)
stock.get_financials()

IndexError: ignored

In [1]:
pip install sqlalchemy psycopg2

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (1.3.5)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.6/dist-packages (2.7.6.1)

In [3]:
import sqlalchemy
import psycopg2

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [0]:
from sqlalchemy import create_engine 
# Postgres username, password, and database name 
POSTGRES_ADDRESS = 'financialdb.c0odp5hguxv4.us-west-2.rds.amazonaws.com' ## INSERT YOUR DB ADDRESS IF IT'S NOT ON PANOPLY 
POSTGRES_PORT = '5432' 
POSTGRES_USERNAME = "postgres" ## CHANGE THIS TO YOUR PANOPLY/POSTGRES USERNAME
POSTGRES_PASSWORD = 'H9G26XZt' ## CHANGE THIS TO YOUR PANOPLY/POSTGRES PASSWORD 
POSTGRES_DBNAME = 'financialdb' ## CHANGE THIS TO YOUR DATABASE NAME 
# A long string that contains the necessary Postgres login information 
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'.format(username=POSTGRES_USERNAME, password=POSTGRES_PASSWORD, ipaddress=POSTGRES_ADDRESS,port=POSTGRES_PORT, dbname=POSTGRES_DBNAME)) 
# Create the connection 
cnx = create_engine(postgres_str)

In [16]:
cnx

Engine(postgresql://postgres:***@financialdb.c0odp5hguxv4.us-west-2.rds.amazonaws.com:5432/financialdb)

In [17]:
postgres_str

'postgresql://postgres:H9G26XZt@financialdb.c0odp5hguxv4.us-west-2.rds.amazonaws.com:5432/financialdb'

In [18]:
con = cnx.raw_connection()

OperationalError: ignored